<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- Pizza p = new Pizza(); -->
	<bean class="collection.Pizza" id="pizza1">
		<property name="name" value="Tandoori Paneer"></property>
		<property name="category" value="Veg"></property>
		<property name="crust" value="Double Chesse"></property>
		<property name="cost" value="350"></property>
		<property name="topping">
			<list>
				<value>Paneer</value>
				<value>Tomato</value>
				<value>Capsicum</value>
				<value>Cheese</value>
				<value>MushRoom</value>
			</list>
		</property>
	</bean>
	
	<bean class="collection.Pizza" id="pizza2">
		<property name="name" value="Margerta"></property>
		<property name="category" value="Veg"></property>
		<property name="crust" value="Double Chesse"></property>
		<property name="cost" value="250"></property>
		<property name="topping">
			<list>
				<value>Gobhi</value>
				<value>Pyaaz</value>
				<value>Capsicum</value>
				<value>Cheese</value>
				<value>Chicken</value>
			</list>
		</property>
	</bean>	
	
	<bean class="collection.Customer" id="customer1">
		<property name="customerid" value="1"></property>
		<property name="customerName" value="Rahul Bhargav"></property>
		<property name="address">
			<set>
				<value>ABC apt, Delhi</value>
				<value>XYZ ville</value>
			</set>
		</property>
	</bean>
		<bean class="collection.Drink" id="drink1">
		<constructor-arg name="name" value="pepsi"></constructor-arg>
		<constructor-arg name="category" value="Cold-Drink"></constructor-arg>
		<constructor-arg name="cost" value="100"></constructor-arg>
	</bean>
	
	<bean class="collection.Drink" id="drink2">
		<constructor-arg name="name" value="coke"></constructor-arg>
		<constructor-arg name="category" value="Cold-Drink"></constructor-arg>
		<constructor-arg name="cost" value="100"></constructor-arg>
		
	</bean>
	
		<bean class="collection.Meal" id="meal1">
		<property name="pizza" ref="pizza1"></property>
		<property name="drink" ref="drink2"></property>
		
	</bean>
	
	<bean class="collection.Meal" id="meal2">
		<property name="pizza" ref="pizza2"></property>
		<property name="drink" ref="drink1"></property>
	</bean>	

	<bean class="collection.Order" id="order1">
		<property name="orderid" value="101"></property>
		<property name="meals">
			<list>
				<ref bean="meal1"/>
				<ref bean="meal2"/>
			</list>
		</property>
	</bean>

</beans>
